# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
app = "vanguard"
primary_region = "sin"

[[services]]
  internal_port = 8080
  protocol = "tcp"
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
    tls_options = { "alpn" = ["h2"] }

  [services.ports.http_options]
    h2_backend = true